<button class="k-aside-close " id="k_aside_close_btn"><i class="la la-close"></i></button>
<div class="k-aside  k-aside--fixed k-grid__item k-grid k-grid--desktop k-grid--hor-desktop" id="k_aside">

    <!-- begin:: Aside -->
    <div class="k-aside__brand	k-grid__item " id="k_aside_brand">
        <div class="k-aside__brand-logo">
           
        </div>
        <div class="k-aside__brand-tools">
            <button class="k-aside__brand-aside-toggler k-aside__brand-aside-toggler--left" id="k_aside_toggler"><span></span></button>
        </div>
    </div>

    <!-- end:: Aside -->
    <!-- begin:: Aside Menu -->
    <div class="k-aside-menu-wrapper	k-grid__item k-grid__item--fluid" id="k_aside_menu_wrapper">
        <div id="k_aside_menu" class="k-aside-menu " data-kmenu-vertical="1" data-kmenu-scroll="1" data-kmenu-dropdown-timeout="500">
            <ul class="k-menu__nav ">
                <li is-controller-header="Home" asp-action="Index" class="k-menu__item  k-menu__item--submenu" aria-haspopup="true" data-kmenu-submenu-toggle="hover">
                    <a asp-controller="Home" asp-action="Index" class="k-menu__link k-menu__toggle "><i class="k-menu__link-icon flaticon-home text-white"><span></span></i><span class="k-menu__link-text">Inicio</span></a>
                </li>
                <li is-controller-header="Sucursal" asp-action="Index" class="k-menu__item  k-menu__item--submenu" aria-haspopup="true" data-kmenu-submenu-toggle="hover">
                    <a asp-controller="Sucursal" asp-action="Index" class="k-menu__link k-menu__toggle "><i class="k-menu__link-icon flaticon-home text-white"><span></span></i><span class="k-menu__link-text">Sucursales</span></a>
                </li>
                <li is-controller-header="Producto" asp-action="Index" class="k-menu__item  k-menu__item--submenu" aria-haspopup="true" data-kmenu-submenu-toggle="hover">
                    <a asp-controller="Producto" asp-action="Index" class="k-menu__link k-menu__toggle "><i class="k-menu__link-icon flaticon-home text-white"><span></span></i><span class="k-menu__link-text">Productos</span></a>
                </li>
                <li is-controller-header="Inventario" asp-action="Index" class="k-menu__item  k-menu__item--submenu" aria-haspopup="true" data-kmenu-submenu-toggle="hover">
                    <a asp-controller="Inventario" asp-action="Index" class="k-menu__link k-menu__toggle "><i class="k-menu__link-icon flaticon-home text-white"><span></span></i><span class="k-menu__link-text">Inventario</span></a>
                </li>
                <li is-controller-header="Home" asp-action="Index" class="k-menu__item  k-menu__item--submenu" aria-haspopup="true" data-kmenu-submenu-toggle="hover">
                    <a asp-controller="Home" asp-action="Bitacora" class="k-menu__link k-menu__toggle "><i class="k-menu__link-icon flaticon-home text-white"><span></span></i><span class="k-menu__link-text">Bitacora</span></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- end:: Aside Menu -->
</div>

